*.log
*.aux
*.auxlock
*.pdf
*.swp
*.DS_Store
*.make
*.d
*~
*.fls
*.temp
*.dvi
*.out
*.gnuplot
*.table
*.toc
*.synctex.gz
*.ps
*.bak
*.tex.bak

# tikz
*.dep
*.dpth
*.md5

# bibtex
*.bbl
*.blg

# latexmk
*.fdb_latexmk
*.fls

# beamer
*.nav
*.snm
*.vrb

# fichier de sauvegarde

*.kate-swp
*.backup
*.tdo

# Non-LaTeX compilation files (Java...)
*.class
